{% extends 'base.html.twig' %}
{% block title %}Portal de administración{% endblock %}

{% block body %}
	{% for client in clients %}
		<h2><a href="{{ path('client', {'client_id': client.id }) }}">{{ client.name }}</a></h2>
	{% endfor %}
{% endblock %}